:root {
	--border: 2px solid rgb(139, 139, 139);
}

body {
	background-color: rgb(19, 19, 19);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: larger;
}

header p {
	margin-bottom: 0;
}

a {
	color: #99c2f2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.search-div {
	display: none;
	text-align: left;
}

.search-div div {
	margin: 0.5em auto;
}

[id="search-bar"] {
	margin-bottom: 0.35em;
	font-size: large;
	width: 100%;
	padding: 0.3em;
	background-color: rgb(12, 12, 12);
	border: var(--border);
	border-radius: 0.3em;
	color: white;
}

[id="search-bar"]:placeholder-shown {
	color: rgb(179, 179, 179);
}

.emoji-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 25%);
}

.emoji-list div {
	background-color: rgb(32, 32, 32);
	outline: var(--border);
}

div img{
	max-width: 23.5%;
}

div p {
	word-wrap: break-word;
}
