:root {
	--rounded-corner: 0.8em;
}

body {
	background-color: rgb(19, 19, 19);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: larger;
}

a {
	color: #99c2f2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.emoji-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 25%);
}

.emoji-list div {
	background-color: rgb(32, 32, 32);
	outline: 2px solid rgb(139, 139, 139);
}

.emoji-list div:first-child {
	border-top-left-radius: var(--rounded-corner)
}

.emoji-list div:nth-child(4) {
	border-top-right-radius: var(--rounded-corner)
}

.emoji-list div:nth-child(1933) {
	border-bottom-left-radius: var(--rounded-corner)
}

.emoji-list div:last-child {
	border-bottom-right-radius: var(--rounded-corner)
}

div img{
	max-width: 23.5%;
}

div p {
	word-wrap: break-word;
}
