:root {
	--grid-item-width: 25%;
}

body {
	background-color: rgb(19, 19, 19);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: larger;
}

a {
	color: #4e91dd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

[id="emoji-list"] {
	display: grid;
	justify-content: center;
	grid-template-columns: var(--grid-item-width) var(--grid-item-width) var(--grid-item-width) var(--grid-item-width);
}

[id="emoji-list"] div {
	background-color: rgb(73, 73, 73);
	outline: 2px solid white;
}

div img{
	max-width: 23.5%;
}

div p {
	word-wrap: break-word;
}