body {
	background-color: rgb(19, 19, 19);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: larger;
}

a {
	color: #99c2f2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

[id="emoji-list"] {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 25%);
}

[id="emoji-list"] div {
	background-color: rgb(32, 32, 32);
	outline: 2px solid rgb(139, 139, 139);
}

div img{
	max-width: 23.5%;
}

div p {
	word-wrap: break-word;
}